<header class="header">
  <h1 class="header__title">{{ headline }}</h1>

  <ul class="header__links">
    <li>
      <a class="header__link" href="{{ "/en/features" | locale_url }}">About</a>
    </li>
  </ul>
</header>
